<ion-view style="" title="Gammes">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" ui-sref="tabsController.modLes" class="item-thumbnail-left">
                <img>
                <h2>Gamme Alpha</h2>
                <p>Maison modulaire</p>
            </ion-item>
            <ion-item style="" ui-sref="tabsController.modLes" class="item-thumbnail-left">
                <img>
                <h2>Gamme Omega</h2>
                <p>Maison modulaire</p>
            </ion-item>
            <ion-item style="" ui-sref="tabsController.modLes" class="item-thumbnail-left">
                <img>
                <h2>Gamme Epsilon</h2>
                <p>Maison modulaire</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>