<ion-view style="" title="Choix du client">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" ui-sref="tabsController.catalogue" class="item-thumbnail-left">
                <img>
                <h2>Maison X</h2>
                <p>lorem ipsum</p>
            </ion-item>
            <ion-item style="" ui-sref="tabsController.catalogue" class="item-thumbnail-left">
                <img>
                <h2>Maison X</h2>
                <p>lorem ipsum</p>
            </ion-item>
            <ion-item style="" ui-sref="tabsController.catalogue" class="item-thumbnail-left">
                <img>
                <h2>Maison X</h2>
                <p>lorem ipsum</p>
            </ion-item>
            <ion-item style="" ui-sref="tabsController.catalogue" class="item-thumbnail-left">
                <img>
                <h2>Maison X</h2>
                <p>lorem ipsum</p>
            </ion-item>
        </ion-list>
        <a style="" class="button button-positive button-block " ui-sref="tabsController.gestionClientLe">Nouveau client</a>
    </ion-content>
</ion-view>