<ion-view style="" title="Vue du modèle">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <div style="" class="button-bar">
            <button style="" class="button button-stable button-block ">1</button>
            <button style="" class="button button-stable button-block ">2</button>
            <button style="" class="button button-stable button-block ">3</button>
        </div>
    </ion-content>
</ion-view>