<ion-view style="" title="Devis N°254512">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="list card">
            <div class="item item-divider">Choix du modele</div>
            <div class="item item-body"></div>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Personnalisation</div>
            <div class="item item-body"></div>
        </div>
        <ion-list style=""></ion-list>
        <ion-list style="">
            <ion-item style="">Item 1</ion-item>
            <ion-item style="">Item 2</ion-item>
            <ion-item style="">Item 3</ion-item>
        </ion-list>
        <a style="" class="button button-positive button-block " ui-sref="tabsController.vueDuModLe">Voir le modèle personnalisé</a>
        <button style="" class="button button-energized button-block ">Enregistrer</button>
    </ion-content>
</ion-view>