<ion-view style="" title="validation du devis">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="">
            <p>J'ai bien pris connaissance du contrat d'achat et ...</p>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Signature</div>
            <div class="item item-body"></div>
        </div>
        <div style="" class="button-bar">
            <a style="" class="button button-assertive button-block " ui-sref="tabsController.devisN254512">Non</a>
            <a style="" class="button button-energized button-block " ui-sref="home">Oui</a>
        </div>
    </ion-content>
</ion-view>