<ion-view style="" title="Catalogue">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <ion-list style=""></ion-list>
        <button style="" class="button button-energized button-block " ui-sref="catalog.promos">Promotion</button>
        <ion-list style="">
            <ion-item style="">Item 1</ion-item>
            <ion-item style="">Item 2</ion-item>
            <ion-item style="">Item 3</ion-item>
        </ion-list>
        <a style="" class="button button-positive button-block " ui-sref="catalog.gammes">Nos gammes</a>
        <a style="" class="button button-positive button-block " ui-sref="catalog.models">Nos modèles</a>
    </ion-content>
</ion-view>