<ion-view style="" title="Gestion clientèle">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <a style="" class="button button-positive button-block " ui-sref="tabsController.ficheClient">Nouveau client</a>
        <a style="" class="button button-positive button-clear button-block  icon-right ion-android-search" ui-sref="tabsController.ficheClient">Rechercher un client</a>
        <a style="" class="button button-positive button-block " ui-sref="tabsController.choixDuClient">Catalogue client</a>
    </ion-content>
</ion-view>