<ion-view style="" title="Home">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="button-bar">
            <a style="" class="button   button-large icon ion-cube button-full" ui-sref="catalog">Catalogue</a>
            <a style="" class="button   button-large icon ion-android-person button-full" ui-sref="client">Client</a>
            <a style="" class="button   button-large icon ion-android-cart button-full" ui-sref="devis">Devis</a>
        </div>
    </ion-content>
</ion-view>