<ion-view style="" title="Tabs Controller">
    <ion-tabs style="" class="tabs-positive tabs-icon-top">
        <ion-tab style="" title="Home" icon="ion-home" href="#/page1/tab1/home/catalog">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Catalogue" icon="ion-cube" href="#/page1/tab4/home/catalog">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Clientèle" icon="ion-android-cart" href="#/page1/tab2/home/client">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Devis" icon="ion-clipboard" href="#/page1/home/devis">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>